@import "../../../variables.scss";

.page-footer {
  color: #FEF9DF;
  background: url("../../../assets/images/bg7.png");
  background-size: cover;
  background-repeat: repeat ;
  
}


.copyright {
  font-family: $default-font-family1;
  font-size: 16px;
  font-weight: 700;
  padding-left: 0px;
  letter-spacing: 1.5px;
  @media (min-width: $screen-lg-min) {
     padding-left: 174px;
     font-size: 20px;
   }
}