<footer class="page-footer bg text-center">
    <div class="container inset-4">
        <p class="copyright">
            &#169; <span id="copyright-year"></span> | all rights reserved
            <!-- {%FOOTER_LINK} -->
        </p>
    </div>
    
    <section>
    <!-- RD Google Map -->
        <div class="rd-google-map">
            <div id="google-map" class="rd-google-map__model" data-zoom="14" data-x="-73.9874068" data-y="40.643180"></div>
            <ul class="rd-google-map__locations">
                <li data-x="-73.9874068" data-y="40.643180">
                    <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                </li>
            </ul>
        </div>
        <!-- END RD Google Map -->
    </section>
</footer>