<div class="container">
    <h3 class="menu-icon"><a href="/menu">Menu</a></h3>
    <div class="logo">
        <img src='../../../assets/images/ganesh-ji.png'  alt="">
        <h1 class="name">MAIHAK</h1>
        <h1 class="restaurant-type">Restaurant Indien</h1>
    </div>

    <div class="contact">
        <a class="order-link" href="https://deliveroo.fr/fr/menu/Paris/villejuif-centre/maihak?geohash=u09ttgn615f9">
            <h2 class="">delivery <span class="reservation-text"> &#38; </span>reservation</h2>
        </a>
        <a href="callto:#">0149588400</a>
    </div>

</div>