//========================================================
//                     Variables
//=========================================================

// Use relative measurements. Change to 0 on "Post Production"
$debug: 0;

// Layouts
$layout-boxed-width: 1920px;
$layout-boxed-bg: #444;


// Resolutions
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


// Fonts
$default-font-family: 'Unna', serif;
$default-font-family1: 'Cinzel Decorative', cursive;
$default-font-weight: 400;
$default-font-size: 24px;
$default-line-height: 36px;


// Anchor Colors
$default: #000;
$contrast: #fff;
$white: #fff;
$primary: #ffcc00;

// Relative Colors
$grayscale-darken: lighten($default, 20%);
$grayscale-default: lighten($default, 53.333333333333336%);
$grayscale-lighten: lighten($default, 92.15686274509804%);
$grayscale-lightest: lighten($default, 96.47058823529412%);

$content-color: darken(saturate(adjust_hue($white, 49.999999999999986), 93.75000000000003%), 6.274509803921575%);
$content-bg: lighten(saturate(adjust_hue($default, 350), 52.500000000000014%), 15.686274509803921%);

// Round Corvers
$border-radius-small: 0px;
$border-radius-base: 0px;
$border-radius-large: 0px;


// Shadows
$box-shadow-ambient: 0 0 0 rgba(0, 0, 0, .12);
$box-shadow-key-small: 3px 4px 5px 0px rgba(0, 0, 0, 0.11);
$box-shadow-key-light: 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
$box-shadow-key-light-large: 8px 14px 18px 0px rgba(0, 0, 0, 0.11);

